.chat {
  overflow-x: hidden;

  .logout-button{
    background-color: #2aa2fa;
    color: #fff;
    width: 6rem;
    height: 2.5rem;
    border-radius: 22px;
    border: none;
    margin-right: 1rem;
    margin-top: .5rem;
    cursor: pointer;
    font-size: .9rem;
  }
  .logout-button:hover{
    opacity: .8;
  }
  .header {
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    h4{
      color: black;
      font-size: 16px;
    }
    .dropdown-button {
      position: fixed;
      right: 1rem;
      top: 0.8rem;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #ddd;
      display: none;
    }
  }
  .chat-body {
    display: flex;
  }
}

@media (max-width: 999px) {

  .chat{
    .logout-button{
      margin-right: 4rem;
    }
  }
  .header {
    .dropdown-button {
      display: block !important;
      .sidebar {
        position: fixed;
        left: 1rem;
        background-color: white;
        box-shadow: 10px 10px 50px #888888;
        z-index: 99;
      }
    }
  }

  .chat-body {
    .sidebar {
      display: none;
    }

    .message {
      width: 100% !important;
      margin-left: 0rem;
    }
  }
}
