.modal {
  background-color: #fff;
  padding: 1rem;
  top: 5rem;
  left: 30rem;
  width: 26%;
  box-shadow: 10px 10px 50px #888888;
  .modal-content {
    .modal-header {
      h2 {
        color: #2aa2fa;
        font-weight: 600;
      }

      .search-user {
        padding: 1rem !important;
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
        border-bottom: 2px solid #ddd !important;
        background-color: #fff !important;
        height: 1rem !important;

        &:focus {
          outline: none !important;
        }
      }

      svg {
        position: fixed;
        top: 7rem;
        left: 51rem;
        cursor: pointer;
      }
    }

    .modal-body {
      width: 100%;
      .contact {
        width: 100%;
        display: flex;
        .contact-info {
          width: 100%;

          h4 {
            font-weight: 600;
            margin-bottom: 0.2rem;
          }

          p {
            color: #222;
          }
        }
      }
    }
  }
}
