.right-side {
    height: 100vh;

  .login-form {
    border-radius: 10px;
    background-color: #fff;
    width: 50%;
    margin: 5rem auto;
    padding: 2rem;
    box-shadow: 1px -5px 10px 5px rgba(0, 0, 0, 0.116);
    .error{
      text-align: center;
      color: red;
    }
    .login-form-header {
      border-bottom: 1px solid #ddd;
      margin-left: -2.1rem;
      margin-right: -2.1rem;
      margin-bottom: 3rem;

      ul {
        margin: 0rem;
        padding: 0rem;

        li {
          list-style: none;
          border-bottom: 2px solid #2aa2fa;
          width: 5.3rem;
          padding-bottom: 0.5rem;
          margin: auto;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 1.2rem;
        padding: 0.8rem;
        border: 1px solid #ddd;
      }

      .terms-conditions {
        display: flex;
        flex-direction: row;

        p {
          margin-top: 0rem;
          margin-left: 0.5rem;

          span {
            color: #2aa2fa;
          }
        }
      }

      .login-button {
        background-color: #2aa2fa;
        color: #fff;
        box-shadow: none;
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
      }

      .register-button {
        background-color: #fff;
        color: #2aa2fa;
        box-shadow: none;
        border-radius: 5px;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 999px) {

  .layout{

    .right-side,.left-side{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .login-form{
        width: 70%;
      }
    }
  }

}