.message {
  padding: 0rem 1.5rem;
  width: 70%;
  margin-left: 345px;
  margin-top: 8rem;

  .message-card {
    display: flex;

    div {
      p {
        background-color: #ddd;
        padding: 1rem;
        color: #555;
        width: 15rem;
        margin-bottom: 0.2rem;
      }

      small {
        color: #aaa;
      }
    }
  }

  .message-card-one {
    display: flex;
    justify-content: flex-end;

    div {
      p {
        background-color: #2aa2fa;
        color: #fff;
        padding: 1rem;
        width: 15rem;
        margin-bottom: 0.2rem;
      }

      small {
        float: right;
      }
    }
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    margin-left: -1rem;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-top: 1px solid #ddd;

    &:focus {
      outline: none;
    }
    input{
      width: 80%;
      border-top: none;
      border-left: none;
      border-bottom: none;
      border-right: none;
    }
  }

  .send-icon {
    position: relative;
    right: 10rem;
    bottom:1rem;
    padding-top: 1rem;
    cursor: pointer;
  }

  .no-chat {
    text-align: center;
  }
}

@media (max-width: 999px) {
  .message {
    border: none;
  }
}